[Desktop Entry]
Type=Application
Exec=st
TryExec=st
Icon=terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=st
GenericName=Terminal
Comment=st simple suckless terminal for X
StartupWMClass=st-256color
